.body-news-main {
    max-width: 1000px;
    width: 100%;
    background-color: white;
    align-self: center;
    padding: 16px;
    display: grid;
    grid-template-columns: 23% 23% 23% 31%;

}

@media screen and (max-width: 1024px) {
    .body-news-main {
        max-width: 664px;
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 575px) {
    .body-news-main {
        max-width: 575px;
        grid-template-columns: 100%;
    }
}