.navbar-main {
    border-top: solid #026b9c 5px;
}

.navbar-section-title {

}

.navbar-section {

}

.navbar-section:hover .navbar-section-title {
    color: #026b9c;
}

.navbar-show-recent-news {
    display: none;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .navbar-show-recent-news {
        position: relative;
        display: block;
    }
}