.navbar-main {
    border-top: solid #026b9c 5px;
}

.navbar-section-title {

}

.navbar-sections-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-sections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 0 0;
    width: 1152px;
}

.navbar-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 5px 15px 5px 15px;
    margin: 0;
}

.navbar-section:hover .navbar-section-title {
    color: #026b9c;
}

.navbar-show-recent-news {
    display: none;
    position: absolute;
}

.navbar-search {

}

@media screen and (max-width: 1024px) {
    .navbar-main {
        border-top: none;
        /*border-bottom: solid #2B2B2B 1px;*/
    }
    .navbar-show-recent-news {
        position: relative;
        display: block;
        /*border-left: solid #2B2B2B 1px;
        border-right: solid #2B2B2B 1px;*/
        padding: 0 10px 0 10px;
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
    }

    .home-icon {
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
        border-left: solid #2B2B2B 1px;
        border-right: solid #2B2B2B 1px;
        padding: 2px 5px 2px 5px;
    }

    .navbar-sections-container {
        justify-content: start;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .navbar-section {
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
        /*padding: 7.5px 20px 7.5px 20px;*/
    }

    .navbar-search {
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
        border-right: solid #2B2B2B 1px;
        padding: 5px 5px 5px 0;
    }
}