.navbar-main {
    border-top: solid #026b9c 5px;
}

.navbar-section-title {
    user-select: none;
}

.navbar-sections-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-sections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 0 0;
    max-width: 1152px;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
}

.navbar-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 5px 15px 5px 15px;
    margin: 0;
}

.navbar-section:hover .navbar-section-title {
    color: #026b9c;
}

.navbar-show-recent-news {
    display: none;
    position: absolute;
}

.navbar-search {

}

.navbar-drop-down {
    margin-top: 0;
}



@media screen and (max-width: 1024px) {
    .navbar-main {
        border-top: none;
    }
    .navbar-show-recent-news {
        position: relative;
        display: flex;
        border-right: solid #2B2B2B 1px;
        padding: 5px 10px 5px 10px;
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .home-icon {
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
        border-left: solid #2B2B2B 1px;
        border-right: solid #2B2B2B 1px;
        padding: 5px 5px 5px 5px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navbar-sections-container {
        justify-content: start;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: solid 1px #000000;
    }

    .navbar-section {
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
        /*padding: 7.5px 20px 7.5px 20px;*/
    }

    .navbar-search {
        border-top: solid #2B2B2B 1px;
        border-bottom: solid #2B2B2B 1px;
        border-right: solid #2B2B2B 1px;
        padding: 5px 5px 5px 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navbar-drop-down {
        margin-top: 0;
    }
}